@font-face {
  font-family: "Canela";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: url("./fonts/Canela-Medium-Trial.otf") format("opentype");
}

:root {
  --blue-dark: rgb(32, 17, 79);
  --beige: rgb(251, 255, 235);
  --white: white;
  --red: red;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}
body {
  display: flex;
  place-items: center;
  min-height: 100vh;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(images/new-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
